global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'sharefair-api'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['api:8080']
        labels:
          application: 'sharefair-api'
